# For generating plots
doit==0.34.0
daltonlens==0.1.5
memory-profiler==0.60.0
# For running experiments
hydra-core==1.1.1
pykoop==1.0.4
Mosek==9.3.11
numpy==1.22.0
scipy==1.11.1
matplotlib==3.5.1
pandas==1.3.5
scikit-learn==1.0.2
cmcrameri==1.4
# Optionally, for push notifications: ntfy==2.7.0
